<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <h1>
        ใส่เงินเดือน
      </h1>
    </ion-title>
    <ion-buttons slot="end" (click)="skipPage()">
        <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label><h2>
        เงินเดือน:
    </h2></ion-label>
    <ion-input type="number" [(ngModel)]="message"></ion-input>
  </ion-item>

  <ion-button expand="full">
    <ion-icon name="checkmark" expand="block" (click)="save(message)"></ion-icon>
  </ion-button>
  <p>{{ status }}</p>

  <ion-list>
      <ion-item *ngFor="let item of messageArray">
       เงินเดือนอัพเดท ครั้งที่ {{ item.id }} : {{ item.messege }}
      </ion-item>
    </ion-list>
</ion-content>