<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- Graph -->
  <div id="chartdiv"></div>
  <!-- input salary -->
  <ion-grid fixed>
    <ion-row>
      <ion-col size="4"></ion-col>
      <ion-col size="4">
        <ion-item expand="block">
          <p>
            รายรับ ต่อเดือน : {{data_Salary[0].messege}} <!--{{data_Salary[0].messege}},25,000-->
          </p>
        </ion-item>
      </ion-col>
      <ion-col size="4"></ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let item of card_arr">
        <ion-card class="icard-height" (click)="onClickCard()">
          <ion-card-header>
            <ion-card-subtitle>{{item.subtitle}}</ion-card-subtitle>
            <ion-card-title>{{item.title}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-img [src]="item.img" class="img-height"></ion-img>
            <p>
              {{item.detail}}
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>