<ion-header>
  <ion-toolbar>
    <ion-title>dashboard</ion-title>
    <ion-button slot="End" (click)="onClick()">
      <ion-icon slot="icon-only" name="add"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let item of card_arr">
        <ion-card class="icard-height" (click)="onClickCard()">
          <ion-card-header>
            <ion-card-subtitle>{{item.subtitle}}</ion-card-subtitle>
            <ion-card-title>{{item.title}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-img [src]="item.img" class="img-height"></ion-img>
            <p>
              {{item.detail}}
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>